*{
  margin: 0;
  padding: 0;
  font-family: 'OpenSans', sans-serif, helvetica;
}

.section{
  text-align: center;
  height: 100%;
}

h1{
  font-size: 6em;
  font-weight: lighter;
}

h2{
  font-size: 2.5em;
}

p{
  width: 50%;
  margin: 0 auto;
  font-size: 1.5em;
  font-weight: lighter;
}

ul{
  width: 100%;
  list-style: none;
}

li{
  padding: 20px 0px;
  border-bottom: 3px solid #ffffff;
  font-size: 1.3em;
}

li:last-child{
  border: none;
}

.pais{
  display: inline-block;
  flex: 1;
  width: 30%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 100px;
}

.clima{
  display: inline-block;
  width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(50%);
  padding: 20px 10px;
  height: 500px;
  transform-origin: right;
  transition: all 0.5s ease-in-out;
}

.detail{
  display: inline-block;
  width: 100%;
  position: relative;
  top: -50%;
  background-color: #4d96bf;
  padding: 20px 10px;
  height: 500px;
  transform-origin: left;
  transition: all 0.5s ease-in-out;
  transform: translateX(100%) translateY(-50%) rotateY(90deg);
}

.detail.switch{
  transform: translateX(0) translateY(-50%) rotateY(0deg);
}

.clima.back{
  transform: translateX(-100%) translateY(50%) rotateY(90deg);
}

#ES{
  background-color: #1e329a;
  color: white;
}

#IS{
  background-color: #ffffff;
}

#IS li{
  border-bottom: 3px solid #000000;
}

#IS li:last-child{
  border:none;
}

.transit{
  background-color: white!important;
  color: black!important;
}

#section0{
  background-color: #252525;
  /*background: linear-gradient(#4e4c4c, #342c2c);*/
  color: white;
  transition: all 0.5s ease-in-out;
}

#section1{

}

#section2{
  background-color: #010211;
  color: white;
}

.comun{
  margin-top: 100px;
  display: flex;
}

.item{
  flex: 1;
}

.item img{
  width: 55%;
}

.subtitles{
  font-size: 2em;
  opacity: 0;
  transition: opacity .2s linear;
}

.subtitles::before{
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  margin: 25px 0;
  background-color: #04AADA;
  transition: width .2s ease-in-out;
}

.subt-complete{
  opacity: 1!important;
}

#section3{
  /*background-color: #7c192f;*/
  color: black;
  background-image: url(../img/salv.png);
  background-size: cover;
  background-position: center 0px;
  background-repeat: no-repeat;
  text-align: left;
}

#tecc{
  position: absolute;
  top: 80px;
  left: 20px;
  width: 90%;
}

#tecc h2{
  margin-top: 50px;
  font-size: 1.9em;
  color: #242424;
  opacity: 0;
  transition: opacity .5s ease-in-out;
}

#section4{
  /*display: flex;
  background: linear-gradient(#4b0b2e, #5733be);*/
  font-weight: lighter;
}

.fp-controlArrow{
  display: none!important;
}

#slide1{
  background-image: url(../img/vision.png);
}

#slide2{
  background-image: url(../img/avances.png);
}

.slide-title1{
  position: relative;
  left: 120px;
  width: 500px;
  opacity: 0;
  transition: opacity 0.5s linear;
}

.slide-title2{
  width: 500px;
}

.slide{
  background-size: cover;
  background-position: center 0px;
  background-repeat: no-repeat;
}

.cambiando{
  position: absolute;
  width: 400px;
  top: 100px;
  right: 200px;
  font-size: 4em;
  opacity: 0;
  transition: opacity .5s linear;
}

.cambiando::after{
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  margin-top: 10px;
  background-color: black;
}

#slide2 img{
  position: absolute;
  top: 50%;
  right: 200px;
  max-width: 400px;
  width: 400px;
  height: auto;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.5s linear;
}

#section5{
  background-image: url(../img/pasos.png);
  background-size: cover;
  background-position: center 0px;
  background-repeat: no-repeat;
  color: #2bbdcd;
}

.pasos-container{
  position: absolute;
  top: 120px;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
}

.pasos-subtitle{
  margin-top: 20px;
}

#section6{
  background-image: url(../img/aesal.png);
  background-size: cover;
  background-position: center 0px;
  background-repeat: no-repeat;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
}

.timer-semi-container, .timer-semi-circle {
  position: absolute;
  overflow: hidden;
  width: 250px;
  height: 500px;
}

.timer-container {
  width: 500px;
  height: 500px;
}

.timer-container h1{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.timer-container h1:hover{
  cursor: pointer;
}

.timer-semi-container.right {
  left: 250px;
}

.timer-semi-container.left .timer-semi-circle {
  left: 250px;
}

.timer-semi-circle {
  -webkit-transform-origin: 0;
}

.timer-semi-circle::after {
  content: "";
  position: absolute;
  left: -240px;
  width: 480px;
  height: 490px;
  border: 5px solid rgba(8, 8, 8, 0.53);
  border-radius: 50%;
  -webkit-transition: border-color .2s linear;
}

.timer-semi-circle.highlighted::after {
  border-color: #ff003d;
}

.timer-semi-circle.mirrored {
  -webkit-transform: rotate(180deg);
}

.empezamos, .empezamos1, .pasos-container{
  opacity: 0;
  transition: opacity .5s linear;
}
